<hibernate-configuration>
    <session-factory>
        <!-- Database connection setting -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/codexbooks</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">senha123</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Entity classes -->
        <mapping class="br.com.codexbookstore.domain.User" />
        <mapping class="br.com.codexbookstore.domain.book.Author"/>
        <mapping class="br.com.codexbookstore.domain.book.PriceGroup"/>
        <mapping class="br.com.codexbookstore.domain.book.SalesParameters"/>
        <mapping class="br.com.codexbookstore.domain.book.Publisher"/>
        <mapping class="br.com.codexbookstore.domain.book.Book"/>
        <mapping class="br.com.codexbookstore.domain.book.Category"/>
        <mapping class="br.com.codexbookstore.domain.book.Dimensions"/>
        <mapping class="br.com.codexbookstore.domain.customer.Customer" />
        <mapping class="br.com.codexbookstore.domain.location.Address" />
        <mapping class="br.com.codexbookstore.domain.location.AddressType" />
        <mapping class="br.com.codexbookstore.domain.stock.Stock" />
    </session-factory>
</hibernate-configuration>