<hibernate-configuration>
    <session-factory>
        <!-- Database connection setting -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./src/main/resources/data/codex;MODE=MySQL;AUTO_SERVER=TRUE</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Show the queries prepared by Hibernate -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Names the annotadomainEntity classes -->
        <mapping class="br.com.codexbookstore.domain.User" />
        <mapping class="br.com.codexbookstore.domain.customer.Customer" />
        <mapping class="br.com.codexbookstore.domain.location.Address" />
        <mapping class="br.com.codexbookstore.domain.location.AddressType" />
    </session-factory>
</hibernate-configuration>